.blokGame{
    max-width: 1176px;
    margin: 0 auto;
}
.listButtonGame{
    display: flex;
    justify-content: center;
}
.buttonGameCategor{
    margin-right: 24px;
    background-color: #141111;
    color: #fff;
    border: 2px solid #141111;
    font-size: 18px;
    text-transform: uppercase;
    padding: 4px;
}
.buttonGameCategor:active{
    border: 2px solid #FBBB43;
    border-radius: 4px;
    background-color: #594420;
}
.listGame{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.listGameMin{
    /* width: 18.37%; */
    flex: 216px 0 0;
    border: 1px solid #727070;
    border-radius: 11px;
    margin-bottom: 40px;
    margin-left: 10px;
}
.textBasket{
    position: absolute;
    margin: 120px 65px;
    padding: 6px;
    border: none;
    border-radius: 11px;
    color: black;
    background-color: #FBBB43;
}
.imgGame{
    border-radius: 11px;
    width: 100% ;
}
.h5TitleGame{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -3%;
    margin-top: 4px;
    margin-left: 8px;
}
.blokSale{
    display: flex;
    justify-content: space-between;
    margin: 4px 8px;
}
.sale{
    font-family: Lora;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
}
.discount{
    background-color: #FBBB43;
    color: #141111;
    font-weight: 700;
    border-radius: 6px;
}
@media (max-width: 709px) {
    .listButtonGame{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .buttonGameCategor{
        margin-right: 3%;
        background-color: #141111;
        color: #fff;
        border: 2px solid #141111;
        font-size: 18px;
        text-transform: uppercase;
        padding: 4px;
        margin-bottom: 20px;
    }
    .listGame{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .listGameMin{
        margin-left: 20px;
    }
}