/* .choice{} */
/* .titleChoice{} */
.bigBlock{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 17px;
}
/* .minBlock{

} */
.titleGame{
    text-transform: uppercase;
}
/* .price{} */