.blog{
    /* width: 100%; */
    max-width: 1176px;
    /* padding: 0 132px; */
    margin: 0 auto;
    margin-bottom: 80px;
    font-family: Montserrat;
    font-weight: 700;
}
.titleBlog{
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-bottom: 40px;
}
.mainСell{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}
.secondaryCell{
    width: 100%;
    /* flex: 376px 0 1; */
    flex-basis: 376px;
    flex-grow: 0;
    flex-shrink: 0;
    /* width: 32%; */
    margin-bottom: 26px;
    /* margin: 24px; */
}
.imgNewsBlok{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgNews{
    width: 100%;
    border-radius: 15px;
}
.InfoBlog{
    display: flex;
    margin-top: 16px;
    align-items: center;

}
.overviewButton{
    background-color: #362A18;
    color: #86652A;
    padding: 4px;
    border:1px solid #86652A;
    border-radius: 8px;
    margin-right: 16px;
}
.overviewButton:active{
    background-color: #ff9900;
    color: #fff;
    padding: 4px;
    border:1px solid #86652A;
    border-radius: 8px;
    margin-right: 16px;
}
.time{
    color: #898888;
}    
.news{
    font-size: 16px;
    margin-top: 20px;
    color: #fff;
    min-height: 48px;
}
.blokComents{
    margin-top: 8px;
}
.coment{
    font-size: 16px;
    color: #a5a5a5;
    font-weight: 400;
}
.blokViews{
    display: flex;
    margin-top: 8px;
}
.views{
    margin-right: 16px;
    margin-left: 4px;
    color: #898888;
}
.pablikText{
    display: flex;
    justify-content: center;
    width: 155px;
    height: 40px;
    margin: 0 auto;
    color: black;
    background-color: #ff9900;
    border-radius: 11px;
    padding-top: 11px;
    font-weight: 700;
}
@media (max-width: 1160px) {
    .secondaryCell{
        width: 100%;
        flex-basis: 500px;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 20px;
        margin-bottom: 26px;
    }
    
}
@media (max-width: 1110px) {
    /* .mainСell{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0 auto;
    } */
    .secondaryCell{
        width: 100%;
        flex-basis: 70%;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 auto;
        margin-bottom: 26px;
    }
    
}