.blog{
    /* width: 100%; */
    max-width: 1176px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.titleBlog{
    display: flex;
    justify-content: center;
    font-size: 36px;
}
.mainСell{
    display: flex;
    justify-content: space-around;
    /* margin: 0 auto; */
}
.secondaryCell{
    width: 33.33333%;
    margin: 24px;
}
.imgNewsBlok{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgNews{
    width: 100%;
    border-radius: 15px;
}
.InfoBlog{
    display: flex;
    margin-top: 16px;
    align-items: center;

}
.overviewButton{
    background-color: #362A18;
    color: #86652A;
    padding: 4px;
    border:1px solid #86652A;
    border-radius: 8px;
    margin-right: 16px;
}
.overviewButton:active{
    background-color: #ff9900;
    color: #fff;
    padding: 4px;
    border:1px solid #86652A;
    border-radius: 8px;
    margin-right: 16px;
}
.time{
    color: #898888;
}    
.news{
    margin-top: 20px;
    color: #fff;
    min-height: 48px;
}
.blokComents{
    margin-top: 8px;
}
.coment{
    color: #a5a5a5;
}
.blokViews{
    display: flex;
    margin-top: 8px;
}
.views{
    margin-right: 16px;
    margin-left: 4px;
    color: #898888;
}
.pablikText{
    display: flex;
    justify-content: center;
    width: 155px;
    height: 40px;
    margin: 0 auto;
    color: black;
    background-color: #ff9900;
    border-radius: 11px;
    padding-top: 11px;
    font-weight: 700;
}